######################################################################
# Configuration for iop_mailer extension
#
######################################################################
someone@domain.org
